@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{

    --fundo_pagina: lightblue;
    --fundo_main: rgb(235, 142, 142);

}

* {

    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: "Open Sans", 'sans-serif';
    line-height: 1.4;
}

body{

   background-color: var(--fundo_pagina);

}
