@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{

    --fundo_pagina: lightblue;
    --fundo_main: rgb(235, 142, 142);
    --obesidadeIII: #de4d55;
    --sobrepeso: #f8e551;
    --pesonormal: #7ec395;
    --abaixo:#6db5e8;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: "Open Sans", 'sans-serif';
    line-height: 1.4;
}

body{
   background-color: var(--fundo_pagina);

}

.logo{

    width: 70px;
    height: 70px;
    border-radius: 50px;

}

header{

    background: red;

}

.corpo{

    justify-content: center;
    display: flex;

}

.parte1{
    padding-left: 30px;
    width: 16vw;
}

.parte05{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    height: 12vh;

}

.parte2{
    height: 100%;
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
}

.base{
    justify-content: space-between;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    border: 1px black;
    width: 60vw;
    height: 20vw;
    background-color: #ececec;
}

button{
    border: 1px solid white;
    border-radius: 20px;
    background-color: var(--fundo_pagina);
    color: black;
    margin: 5px;
    padding: 5px;
    height: 50px;
    width: 200px;
    font-size: medium;
}

img{
    border: 0px;
    border-radius: 30px;
}

input{
    font-size: large;
}

label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: medium;
}

.resultado{

    flex-wrap: wrap;

    display: none;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    background-color: red;

}